<html>
<head>
    <title>{{ title }} - Heroscript Web Client</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div>
    <a href="/">
        <img src="http://127.0.0.1:5000/static/icon.png" width="100" alt="Heroscript Home">
    </a>
    <div>
        <b>Welcome to Heroscript</b><br>
    </div>
    <div>
        Thank you for choosing Heroscript. Use the links below to do your workflow.
    </div>
</div>

{% if context.messages %}
<div class="messages">
    {% for line in context.messages %}
    <pre><b>{{ line }}</b></pre>
    {% endfor %}
    {% endif %}
</div>

<h2>Download Folder </h2>
<div class="clearfix">
    <div class="button-line-flex-container">
        <div class="button-line-flex-container-line">
            <div><a href="/download" class="nav-button">DOWNLOAD</a></div>
            <div>- Donwload latest track files from Garmin Connect</div>
        </div>
    </div>
</div>

<div class="output">
    {% for line in context.load_info %}
    <pre>{{ line }}</pre>
    {% endfor %}
</div>
<h2>Actual Stage</h2>
<div class="clearfix">
    <div class="button-line-flex-container">
        <div class="button-line-flex-container-line">
            <div><a href="/staging" class="nav-button">STAGING</a></div>
            <div> - Stage next activity from local file and Strava</div>
        </div>
    </div>

    <div class="output">
        {% for line in context.show %}
        <pre>{{ line }}</pre>
        {% endfor %}
    </div>
    <h2>Settings</h2>
    <div class="clearfix">
        <div class="button-line-flex-container">
            <div class="button-line-flex-container-line">

                <div><a href="/masterdata/show" class="nav-button">MASTERDATA</a></div>
                <div> - Get Masterdata from Velohero and Strava</div>
            </div>
            <div class="button-line-flex-container-line">
                <div><a href="/config" class="nav-button">CONFIG</a></div>
                <div>- Setup Heroscript</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>