<html>
<head>
    <title>{{ title }} - Heroscript Web Client</title>
    <link rel="stylesheet" href="/static/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div>
    <a href="/staging">
        <img src="http://127.0.0.1:5000/static/icon.png" width="50" alt="Staging">
    </a>

</div>

{% if context.messages %}
<div class="messages">
    {% for line in context.messages %}
    <pre><b>{{ line }}</b></pre>
    {% endfor %}
    {% endif %}
</div>

{% if context.result.file %}


<h1>Purge</h1>
<p>
    Delete the actual loaded activity file '{{ context.filename }}' from your local download folder.
</p>

This is the staged activity:
<div class="output">
    {% for line in context.result.output %}
    <pre>{{ line }}</pre>
    {% endfor %}
</div>

<h1>Delete now</h1>

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <p>{{ form.submit() }}</p>

    {% endblock %}

{% else %}
<h1>ERROR</h1>

Track file not found: Seems not to be the actual load. Did you already archived the file?
Return to <a href="/load">STAGIING</a> and check load again.
{% endif %}

</body>
</html>